body{
	background-color: #18150f;
	color: white;
}
hr{
	border-color: #484B51;
}
#chatbox{
	color: white;
	padding: 15px;
	margin-top: 100px;
	background-color: #282217;
	border: 2px solid #211c13;
}
#chatRoom{
	height: 35px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	/*border-bottom: 1px solid #484B51;*/
}
#bottombox{
	margin-top: 5px;
	padding-top: 15px;
	border-top: 1px solid #484B51;
}
#messageBox{
	color: white;
	height:30%;
	resize:none;
	background-color: #17130d;
	margin-bottom: 10px;
}
#msgHistory{
	min-height: 500px;
	max-height: 500px;
	overflow-y: auto;
}
#userNick{

}
#logout{
	text-align: right;
	text-decoration: none;
}
.message{
	width: 98%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #484B51;
}
.nickname{
	font-size: 14pt;
	color: orange;
}
.content{
	margin-left: 10px;
	word-wrap: break-word;
	margin-right: 10px;
}
.image{
	margin-left: 10px;
}
.image:hover{
	cursor: pointer;
}